DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public"
SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SHOPIFY_APP_URL=https://your-production-domain.example
SCOPES=write_products,read_products,write_inventory,read_inventory,read_orders,write_orders

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
FIREBASE_STORAGE_BUCKET=

XERO_CLIENT_ID=
XERO_CLIENT_SECRET=
QB_CLIENT_ID=
QB_CLIENT_SECRET=
